﻿.container {
	width: 300px;
	margin: auto;
	background: #FFFACD;
	font-weight: normal;
	text-align: left;
	font-size: medium;
}
.title {
	width: 300px;
	margin: auto;
	background: #F4A460;
	font-weight: bold;
	text-align: center;
	font-size: large;
}